<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>readingList</title>
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/readingList.css" />

    <!-- 引入样式 -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
  </head>

  <body>
    <!-- layout -->
    <div class="layout" id="app">
      <!-- aside -->
      <div class="aside">
        <el-link class="item studBud">
          <span>Kai's StudBud </span>
        </el-link>
        <el-link class="item">
          <span>
            <i class="el-icon-search"></i>
            Quick Find </span>
        </el-link>
        <el-link class="item">
          <i class="el-icon-pie-chart"></i>
          <span>All Updetas </span>
        </el-link>
        <el-link class="item">
          <i class="el-icon-magic-stick"></i>
          <span>setting & Membes</span>
        </el-link>
        <el-link type="primary" href="./taskList.html" class="item">
          <span>taskList</span>
        </el-link>
        <el-link type="primary" href="./stopwatchTimes.html" class="item">
          <span>stopwatchTimes</span>
        </el-link>
        <el-link type="primary" href="./readingList.html" class="item active">
          <span>readingList</span>
        </el-link>
        <el-link type="primary" href="./musicPlayer.html" class="item">
          <span>musicPlayer</span>
        </el-link>
        <el-link type="primary" href="./calendar.html" class="item">
          <span>calendar</span>
        </el-link>
      </div>

      <!-- main -->
      <div class="main">
        <div class="title">Reading List</div>
        <div class="tips">
          <p>
            We created a dashboard to help you track books , articles ,
            podcasts, and videos .
          </p>
          <p>
            According to the type attribute , each media type has its own view
          </p>
        </div>

        <div class="top">
          <el-radio-group v-model="radio">
            <el-radio :label="1">All</el-radio>
            <el-radio :label="2">Video</el-radio>
            <el-radio :label="3">Scholar</el-radio>
          </el-radio-group>

          <el-tag @click="dialogFormVisible = true">New</el-tag>
        </div>

        <el-table :data="tableData1" border style="width: 100%">
          <el-table-column prop="type" label="Type" width="180">
            <template slot-scope="scope">
              {{scope.row.type == 2 ? 'Video' : 'Scholar'}}
            </template>
          </el-table-column>
          <el-table-column prop="name" label="Name" width="180">
          </el-table-column>
          <el-table-column prop="author" label="Author"> </el-table-column>
          <el-table-column prop="status" label="Status">
            <template slot-scope="scope">
              <el-tag type="danger" v-if="scope.row.status == 1">Doing</el-tag>
              <el-tag v-else>to do</el-tag>
            </template>
          </el-table-column>
          <el-table-column prop="link" label="Link"> </el-table-column>
        </el-table>
      </div>

      <el-dialog
        title="Add"
        center
        :visible.sync="dialogFormVisible"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :show-close="false"
      >
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
          <el-form-item
            label="Type："
            :label-width="formLabelWidth"
            prop="type"
          >
            <el-radio-group v-model="ruleForm.type">
              <el-radio :label="2">Video</el-radio>
              <el-radio :label="3">Scholar</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item
            label="Name："
            :label-width="formLabelWidth"
            prop="name"
          >
            <el-input v-model="ruleForm.name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item
            label="Author："
            :label-width="formLabelWidth"
            prop="author"
          >
            <el-input v-model="ruleForm.author" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item
            label="Status："
            :label-width="formLabelWidth"
            prop="status"
          >
            <el-radio-group v-model="ruleForm.status">
              <el-radio :label="1">Doing</el-radio>
              <el-radio :label="2">to do</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item
            label="Link："
            :label-width="formLabelWidth"
            prop="link"
          >
            <el-input v-model="ruleForm.link" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="resetForm('ruleForm')">cancle</el-button>
          <el-button type="primary" @click="submitForm('ruleForm')"
            >save</el-button
          >
        </div>
      </el-dialog>
    </div>
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="./js/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            dialogFormVisible: false,
            formLabelWidth: "120px",
            ruleForm: {},
            radio: 1,
            rules: {
              type: [
                {
                  required: true,
                  message: "请选择",
                  trigger: "change",
                },
              ],
              name: [
                {
                  required: true,
                  message: "请输入",
                  trigger: "blur",
                },
              ],
              author: [
                {
                  required: true,
                  message: "请输入",
                  trigger: "blur",
                },
              ],
              status: [
                {
                  required: true,
                  message: "请选择",
                  trigger: "change",
                },
              ],
              link: [
                {
                  required: true,
                  message: "请输入",
                  trigger: "blur",
                },
              ],
            },
            tableData: [],
          };
        },
        computed: {
          tableData1() {
            if (this.radio == 1) {
                return this.tableData;
            } else if (this.radio == 2) {
                return this.tableData.filter((v) => v.type == 2);
            } else {
                return this.tableData.filter((v) => v.type == 3);
            }
          },
        },
        methods: {
          submitForm(formName) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                this.$message.success("保存成功！");
                this.tableData.push({ ...this.ruleForm });
                this.resetForm(formName);
              } else {
                console.log("error submit!!");
                return false;
              }
            });
          },
          resetForm(formName) {
            this.dialogFormVisible = false;
            this.$refs[formName].resetFields();
          },
        },
      });
    </script>
  </body>
</html>
